footer#Footer {
    display: block;
    color: #869099;
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: center;
    font-size: 0.875rem;
  }