
@import "~tailwindcss/dist/base.min.css";
@import "~tailwindcss/dist/components.min.css";
@import "~tailwindcss/dist/tailwind.min.css";
@import "~tailwindcss/dist/utilities.min.css";

@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  color: #343a40;
  background-color: #f4f6f9;
  font-family: 'Roboto', sans-serif
}

